
<!-- Modal -->
<div #updateModal class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Detalle del cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          
          <div class="card mt-4 mb-3" style="max-width: 700px;">
              <div class="row g-0">
                <div *ngIf="cliente?.foto" class="col-md-4">
                  <img src="{{'http://localhost:8080/api/clientes/upload/img/' + cliente.foto}}" class="img-fluid rounded-start" alt="imagen">
                </div>
                <div [ngClass]="{'col-md-8': cliente?.foto, 'col-md-12': !cliente?.foto}">
                  <div *ngIf="cliente" class="card-body">
                    <h5 class="card-title">{{ cliente.nombre }} {{ cliente.apellidos }}</h5>
                    <p class="card-text">{{ cliente.email }}</p>
                    <p class="card-text">{{ cliente.region.nombre }}</p>
                    <p class="card-text"><small class="text-muted">{{cliente.fecha | date}}</small></p>
                  </div>
                  <div class="card-footer text-muted">
                      <div class="input-group">
                          <input #inputFile type="file" accept="image/*" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                          <button (click)="subirImagen()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Enviar</button>
                        </div>
                    </div>
                    <div *ngIf="progreso > 0" class="progress">
                      <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{'width': progreso+'%'}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
              </div>
            </div>
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>